.footer{
    @include centrer-div;
    flex-direction: column;
    

    width: 100vw;
    height: 20vh;
    background-color: black;
    opacity: 65%;
    color: black;

    .presentation{
        margin: 0;
        @include centrer-div;
        text-align: center;
        background: black;
        color: white
        
    }
    .condition-politique{
        @include centrer-div;
        padding: 15px 0;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        width: 100vw;
        .condition , .politique{
            color: white;
            margin: 0;
        }

        .separateur{
            @include centrer-div;
            color: white;
            margin: 0;
            
        }
    }
}