.header{
    position:fixed;
    top: 0;
    left: 0;

    width: 100vw;
    aspect-ratio: 8/1;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    background-color:white;

    z-index:100;
    
    .navigation{
        width: 80%;
        .menu_nav{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .lien_menu{
                color: black;
            }
        }
    }

    .logo-content{
        width: 20%;
        aspect-ratio: 1/1;
       // border-radius: 50%;
        @include centrer-div;

        .logo{
            object-fit: scale-down;
            object-position: center center;
            width: 90%;
            height: 90%;
           // border-radius: 50%;
        }
    }
}