.presentation{
    margin-top: 12.5%;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .photo_presentation{

        width: 30%;
        height: 100%;
        background-color: $primary_color;

        display: flex;
        align-items: center;
        justify-content: center;

        .cadre_photo{
            @include centrer-div;
            width: 90%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: white;
           
            font-size: x-small;

           .photo{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
           } 
        }
    }

    .about_me{
        width: 70%;
        

        .description{
            width: 90%;
            padding: 0 10px;

            .paragraphe{
                width: 100%;
                padding: 0 15px;
                font-size: small;
            }
        }
    }

}