.products{
    width: 100vw;
    height: 100vh;
    @include centrer-div;
    flex-direction: column;
    background-color: beige;
    

   .carousel-root{
        width: 90%;

        @include centrer-div;
        flex-direction: column;
       

    }
}

.carousel-status{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1023px){
    
  .carousel-root{
    .carousel{
        .control-dots{
            .dot{
                width: 20px;
                height: 20px;
            }
        }
    }
  }
}