.products{
    width: 100vw;
    height: 100vh;
    @include centrer-div;
    flex-direction: column;
    //background-color: $background_color3;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(white,rgb(114, 45, 114));

    
    .products-titre{
        margin: 40px 0 20px 0;
    }

    //Carousel container
    .carousel-root{
        width: 80vw;
        height: auto;
        @include centrer-div;
        flex-direction: column;
        margin: 10% 0 0 0;
         // Slider carousel grande image 
    .carousel-slider{
        @include centrer-div;
        flex-direction: column;


        //bouton dot
        .control-dots{
            
        }

        //Cadre de la photo
        .slider-wrapper{

            //Cadre des slides
            .slider{

                .slide{
                    .photo{
                        width: 100%;
                        height: 100%;
                        @include centrer-div;

                        .image-slider{
                            object-fit: cover;
                            object-position: center center;
                            width: 100%;
                            height: 100%;
                        }
                        
                        .description{
                            position: absolute;
                            top: 80%;
                            background-color: black;
                            color: white;
                            opacity: 60%;
                        }
                    }
                }
            }

        }

        //bouton de navigation
        .control-arrow{
            display: none;
        }

        //numéro du slide
        .carousel-status{
            display: none;
        }

    }

    //slider carousel petite image
    .carousel{

        .thumbs-wrapper{
            .control-arrow{
                display: none;
            }
        }
        }
    }



}
