.resultats{
    width: 100vw;
    height: 100vh;
    @include centrer-div;
    flex-direction: column;

    .moncarousel{
        width: 90%;
        .thumbs-wrapper {
            display: none;
            margin: 0;
          }
    }

    p.description{
        width: 100%;
        @include centrer-div;
        position: absolute;
        top: 60%;
        left: 0%;
        background-color: black;
        color: white;
        opacity: 60%;
    }

   
}