
//Colors
$primary_color: rgb(48, 1, 48);
$secondary_color: rgb(214, 214, 214);

$black_color:rgb(155, 155, 155);

$background_color1:#f8f7f4;
$background_color2:#FFFFF0;
$background_color3: #F4F1F8;

//Agencement

@mixin centrer-div{
  display: flex;
  justify-content: center;
  align-items: center;
}


//Arrangement
* {
    min-width: 0;
    font: inherit;
    text-decoration: none;
    list-style:none;
    margin:0 auto;
    padding: 0;
  }
  *,*::before,*::after{
    box-sizing: border-box;
  }


body {
  min-height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
 /* a:visited{
    color: black;
  }*/
  a:hover{
    cursor: pointer;
  }
}

p{
  text-wrap: stable;
}
h1,h2,h3,h4,h5,h6{
  text-wrap: balance;
}

img,video,svg{
  display: block;
  height: auto;
  max-width: 100%;
}
  


